.mediatekdocument-content p, a {
  line-height: 1.6;
}

.mediatekdocument .heading {
  text-align: center;
}

.mediatekdocument-content {
  margin-top: 10rem;
  padding: 0 30rem;
  font-size: 2rem;
}


.mediatekdocument-content a {  
  cursor: pointer;
  color: var(--snd-bg-color);
  text-decoration: underline;
}

@media(max-width: 1300px) {
  .mediatekdocument-content{
    padding: 0 5rem;
  }

  .mediatekdocument-content .video-user {
    width: 480px;
    height: 270px;
  }
}

@media(max-width: 600px) {

  .mediatekdocument-content .video-user {
    width: 256px;
    height: 144px;
  }

  .mediatekdocument .api-link {
    word-break: break-word;
  }

  .mediatekdocument .heading {
    font-size: 4rem;
  }
}
