.mediatekformation-content {
  margin-top: 10rem;
  padding: 0 30rem;
  font-size: 2rem;
}

.mediatekformation-content p, a {
  line-height: 1.6;
}

.mediatekformation .heading {
  text-align: center;
}


.mediatekformation-content a {  
  cursor: pointer;
  color: var(--snd-bg-color);
  text-decoration: underline;
}



@media(max-width: 1300px) {
  .mediatekformation-content {
    padding: 0 5rem;
  }

  .mediatekformation-content .video-user {
    width: 480px;
    height: 270px;
  }
}

@media(max-width: 600px) {
  .mediatekformation-content .video-user {
    width: 256px;
    height: 144px;
  }

  .mediatekformation .heading {
    font-size: 4rem;
  }
}
