.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  background: var(--bg-color);
  backdrop-filter: blur(10px);
  box-shadow: 0rem 1rem 5rem rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight:700;
}

.navbar a {
  font-size: 1.9rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
  cursor: pointer;
}

.navbar i {
  font-size: 2rem;
}

.navbar a:hover, .navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  cursor: pointer;
  display: none;
}

@media(max-width: 1200px) {
  .navbar a {
    font-size: 1.5rem;
  }

  .logo {
    font-size: 2rem;
  }

  .header {
    padding: 2rem 3%
  }
}

@media (max-width: 1000px){
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width : 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    box-shadow: 0rem 1rem 5rem rgba(0, 0, 0, 0.5);
  }

  .navbar a {
    display: block;
    padding: 17px;
    font-size: 22px;   
  }

  .navbar.active {
    right: 0;
  }
}


