section {
  min-height: 100vh;
  padding: 15rem 9% 2rem;
}

.hint {
  color: var(--main-color);
}

.hint-snd {
  color: var(--snd-bg-color);
}

.heading {
  font-size: 6rem;
  text-align: center;
}

@media (max-width: 1000px) {
  section {
    padding : 10rem 3%;
  }
}
