* {
  box-sizing:border-box;
  margin: 0;
  padding:0;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: Arial, sans-serif;
}

/* 
:root {
  --bg-color: #ffffff;
  --snd-bg-color: #d6ffea;
  --text-color:  #000000;
  --main-color: #3cac74;
} */

:root {
  --bg-color: #18222b;
  --snd-bg-color: #d6ffea;
  --text-color:  #ffffff;
  --main-color: #46c284;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

